<table class="header">
	<tr>
		<td>
			<%= image_tag("header_logo.png", :alt => "Header") %>
		</td>
		<td>
			<h3>Providing Technology Expertise Designed Around You</h3>
		</td>
		<td>
			<%= link_to "Sign Up", "#" %> |
			<%= link_to "Pay Invoice", "#" %>
		</td>
	</tr>
</table>