/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/

/* Technology by Design Website CSS */
/* by John Pearson */

/* General Styling */
body {
	background-color: #3E97D1;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}

.container {
	background-image: url("body_background.png");
	background-repeat: no-repeat;
	width: 840px;
	height: 700px;
	margin-left: auto;
	margin-right: auto;
}

/* Header Styling */
.header {
	width: 840px;
	height: 200px;
}

.header tr td {
	padding: 20px;
}

.header h3 {
	text-align: center;
}